
<div class="primary no-border">
    <p>
        Please
        @Html.ActionLink("log in", "Login", "Account", new { returnUrl = @ViewBag.RequestUrl }, new { @class = "link" }) to leave a comment
    </p>
</div>
