@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right"}))
    {
    @Html.AntiForgeryToken()

    <div id="logoutDiv">
        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage", data_role = "button" }) 
        <a href="javascript:document.getElementById('logoutForm').submit()" data-role="button">Log off</a>
    </div>
    }
}
else
{
    <div>
        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { data_role = "button" })  
        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { data_role = "button" })
    </div>
}
